<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление комментария</title>
</head>
<body>
<h1>
        {{ post.slug }}<br>
        {{ post.post_date_published }}<br>
    {{ post.text_post }}<br>
    </h1>
<form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-success" type="submit">Добавить комментарий!</button>
    </form>
{% for comment in comments %}

                    {% if post.id == comment.commented_post.id %}
<h2>
                        Пользователь {{ comment.user }}<br>
            <p>комменченый пост >> {{ comment.commented_post }} текст коммента {{ comment.text_comment }}
                опубликован: {{ comment.comment_date_published }}</p>

</h2>
    {% endif %}
 {% endfor %}
</body>
</html>