<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "filecss.css" %}"/>
    <title>Главная</title>
</head>
<body>
<h1>
    <a href="AddPosts/">добавить пост</a>
</h1>

{% for post in posts %}
    {{ post.user }}<br>
    <p>пост >>{{ post.slug }} текст>> {{ post.text_post }} опубликован: {{ post.post_date_published }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-success" type="submit">Добавить комментарий!</button>
    </form>
    <p> {% for comment in comments %}
        {% if post.id == comment.commented_post.id %}
                        Пользователь {{ comment.user }}<br>
            <p>комменченый пост >> {{ comment.commented_post }} текст коммента {{ comment.text_comment }}
                опубликован: {{ comment.comment_date_published }}</p>

        {% endif %}
    {% endfor %}
      ______________________________________________________________________________
{% endfor %}


</body>
</html>