<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "filecss.css" %}" />
    <title>Hello</title>
</head>
<body>
{% for post in posts %}
     <p>пост >>{{ post.slug }} текст>> {{ post.text_post }} опубликован: {{ post.post_date_published }}</p>
     <p> {% for comment in comments %}
            {% if post.id == comment.commented_post.id  %}
             <p>комменченый пост >> {{ comment.commented_post }} текст коммента {{ comment.text_comment }} опубликован: {{ comment.comment_date_published}}</p>
            {% endif %}
    {% endfor %}
{% endfor %}
    <h1>
        <a href="FormHead.html">добавить пост</a>
    </h1>
</body>
</html>